body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightseagreen;
    font-family: 'Montserrat';
}

#game-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.row {
    display: flex;
    gap: 20px;
}

.cell {
    border-radius: 20px;
    width: 150px;
    height: 150px;
    background-color: lightgreen;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 90px;
    font-weight: 600;
    color: lightseagreen;
}

.cell:hover {
    cursor: pointer;
    transition-duration: 0.1s;
    transition-timing-function: linear;
    transform: scale(1.1);
}