body {
    background-color: #282A35;
    font-family: 'Roboto';
    margin: 0;
}

nav {
    background-color: white;
}

.container-fluid {
    width: 95%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}

#header-bottom {
    overflow: scroll;
}

.tech {
    color: white;
    padding: 10px 5px;
    cursor: pointer;
}

.tech:hover {
    background-color: #1e1f29;
}

#left, #right {
    display: flex;
    align-items: center;
}

#nav-links {
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.nav-link {
    padding: 20px 10px;
    cursor: pointer;
}

.nav-link:hover {
    background-color: #04AA6D!important;
    color: white;
}

#input-group {
    display: flex;
    align-items: center;
    border: 1px solid #dbdbdb;
    padding: 8px;
    margin-left: 10px;
    border-radius: 50px;
}

#input-group input {
    border: none;
    outline-style: none;
}

#dark-mode {
    padding: 10px;
    border-radius: 50px;
    margin-left: 20px;
}

#dark-mode:hover {
    background-color: #F1F1F1;
}

#nav-right-links, #sign-up-and-log-in {
    display: flex;
    align-items: center;
}

.nav-right-link {
    margin: 0 5px;
    padding: 10px 15px;
    border-radius: 50px;
}

.nav-right-link i {
    color: #9763F6;
}

.nav-right-link:hover {
    background-color: #F1F1F1;
}

#sign-up-and-log-in {
    border-radius: 50px;
    padding-right: 20px;
    background-color: #D9EEE1;
}

#sign-up {
    border-radius: 50px;
    padding: 10px 20px;
    background-color: #04AA6D !important;
    color: white;
    margin-right: 10px;
}

#sign-up, #log-in {
    cursor: pointer;
}

#container {
    width: 80%;
    margin: 50px auto;
}

.row {
    display: flex;
    width: 100%;
}

.card {
    text-align: center;
    padding: 40px;
    width: 50%;
    margin: 50px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button {
    border: none;
    background-color: #282A35;
    color: white;
    font-weight: 700;
    padding: 10px 50px;
    border-radius: 50px;
}

.pink {
    background-color: #FFC0C7;
}

.yellow {
    background-color: #FFF4A3;
}

.gray {
    background-color: #F3ECEA;
}

.green {
    background-color: #D9EEE1;
}

.blue {
    background-color: #96D4D4;
}

.gray2 {
    background-color: #E7E9EB;
}

h1 {
    margin: 0;
}

p {
    margin: 30px 0;
}

@media screen and (max-width: 1480px) {
    #plus {
        display: none;
    }
}

@media screen and (max-width: 1380px) {
    #spaces {
        display: none;
    }

    #second-part .row {
        display: block;
    }

    #second-part .row .card {
        width: auto;
    }
}

@media screen and (max-width: 1260px) {
    #teachers {
        display: none;
    }
}

@media screen and (max-width: 1100px) {
    #certified {
        display: none;
    }
}

@media screen and (max-width: 940px) {
    #certificates {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .row {
        display: block;
    }
}