body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

nav {
    margin: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo img {
    height: 70px;
}

a {
    color: black;
    text-decoration: none;
}

#menu {
    display: flex;
    gap: 20px;
}

#search {
    display: flex;
    align-items: center;
    padding: 5px;
    background-color: rgb(239, 239, 239);
    border-radius: 50px;
}

input {
    border: none;
    background-color: rgb(239, 239, 239);
}

#tools {
    display: flex;
    gap: 20px;
    align-items: center;
}

video {
    width: 100%;
}

#video-section {
    position: relative;
}

#video-content  {
    color: white;
    position: absolute;
    z-index: 100;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
}

#video-content h1 {
    font-size: 100px;
    font-weight: 900;
    margin-bottom: 0;
}

#video-content button {
    padding: 10px 15px;
    background-color: white;
    color: black;
    border: none;
    font-size: 17px;
    font-weight: 600;
    border-radius: 100px;
    cursor: pointer;
}

#video-content button:hover {
    background-color: gainsboro;
}

#two-part {
    display: flex;
    height: 1000px;
    overflow: hidden;
}

#two-part #left-part, #two-part #right-part {
    width: 50%;
}

#two-part img {
    width: 100%;
}

#footer-menu {
    display: flex;
}

.footer-column-item {
    display: block;
    color: gray;
    margin: 20px 0;
}