* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Open Sans";
}

.row {
    display: flex;
    gap: 25px;
}

.card {
    background-color: rgb(241, 245, 248);
    border-radius: 7px;
    padding: 25px;
    width: 350px;
    height: 150px;
    position: relative;
    overflow: hidden;
}

.left {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
}

h2 {
    margin-bottom: 30px;
    font-size: 27px;
}

h4 {
    font-weight: 600;
    margin-bottom: 10px;
}

p {
    color: gray;
    font-weight: 500;
}

button {
    background-color: rgb(32, 88, 191);
    color: white;
    font-size: 17px;
    font-weight: 600;
    padding: 15px 12px;
    border: none;
    border-radius: 7px;
    width:fit-content;
}

.card img {
    position: absolute;
    
}